<p>my-entrepreneurship works!</p>
<a href="/dashboard" class="button1">Volver</a>
<div class="d-flex">
<div *ngFor="let s of startupList">
       
        <div class="card mr-3" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{s.startName}}</h5>
              <p class="card-text">{{s.startDescr}}</p>
              <a href="/profile" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>